.pio/
.vscode/
*.bin
*.out
*.o
~$*
*.pyc
*ICENS*
COPY*
*CONTRIBU*
AUTH*
*PATCH*
*.txt
!CMakeLists.txt
Change*
CHANGE*
README*
asf4/
nxp*/
docs/
doc/
*.md
.vscode/
__pycache__/
*.pyc
/build
*/*/.travis*